#gameBoard {
  display: grid;
  position: relative;
  grid-template-rows: repeat(31, 1fr);
  grid-template-columns: repeat(31, 1fr);
  background-color: #ccc;
  margin: auto;
  height: 100vmin;
  width: 100vmin;
}

.snakeScore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 30px;
}

.snakeScore h3 {
  margin: 0;
}

.buttonGrid {
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100px;
  height: 100px;
  margin: auto;
}

.buttonGrid>button>svg {
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  #gameBoard {
    height: calc(100vmin - 160px);
    width: calc(100vmin - 160px);
  }
}
